CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="stm32h7s78-dk"
CONFIG_ARCH_BOARD_STM32H7S78_DK=y
CONFIG_ARCH_CHIP="stm32h7rs"
CONFIG_ARCH_CHIP_STM32H7RS=y
CONFIG_ARCH_CHIP_STM32H7S7L8=y
# CONFIG_ARCH_FPU is not set
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_ARCH_STACKDUMP=y
CONFIG_BOARDCTL_BOOT_IMAGE=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BOARD_LOOPSPERMSEC=60000
CONFIG_BOOT_NXBOOT=y
CONFIG_BUILTIN=y
CONFIG_INIT_ENTRYPOINT="nxboot_loader_main"
CONFIG_INTELHEX_BINARY=y
CONFIG_LINE_MAX=64
CONFIG_MTD=y
CONFIG_NXBOOT_BOOTLOADER=y
CONFIG_NXBOOT_HEADER_SIZE=0x400
CONFIG_NXBOOT_PLATFORM_IDENTIFIER=0x48735378
CONFIG_PREALLOC_TIMERS=4
CONFIG_RAM_SIZE=466944
CONFIG_RAM_START=0x24000000
CONFIG_RAW_BINARY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_LPWORK=y
CONFIG_SCHED_WAITPID=y
CONFIG_START_DAY=6
CONFIG_START_MONTH=5
CONFIG_START_YEAR=2026
CONFIG_STM32H7RS_APP_FORMAT_NXBOOT=y
CONFIG_STM32H7RS_EXTNOR_OTA_PARTITION=y
CONFIG_STM32H7RS_GPIO=y
CONFIG_STM32H7RS_OTA_SECONDARY_SLOT_OFFSET=0x02000000
CONFIG_STM32H7RS_OTA_SLOT_SIZE=0x02000000
CONFIG_STM32H7RS_OTA_TERTIARY_SLOT_OFFSET=0x04000000
CONFIG_STM32H7RS_USART=y
CONFIG_STM32H7RS_XSPI=y
CONFIG_UART4_SERIAL_CONSOLE=y
