CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="ek-ra8p1"
CONFIG_ARCH_BOARD_EK_RA8P1=y
CONFIG_ARCH_CHIP="ra8p"
CONFIG_ARCH_CHIP_R7KA8P1KFLCAC=y
CONFIG_ARCH_CHIP_RA8P=y
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARMV8M_SYSTICK=y
CONFIG_ARM_MPU=y
CONFIG_ARM_MPU_NREGIONS=16
CONFIG_ARM_MPU_RESET=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BOARD_LOOPSPERMSEC=1000000
CONFIG_BOOT_NXBOOT=y
CONFIG_BUILD_PROTECTED=y
CONFIG_BUILTIN=y
CONFIG_DEBUG_BUSFAULT=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_HARDFAULT_ALERT=y
CONFIG_DEBUG_MEMFAULT=y
CONFIG_DEBUG_USAGEFAULT=y
CONFIG_EK_RA8P1_APP_FORMAT_NXBOOT=y
CONFIG_EK_RA8P1_EXTNOR_OTA_PARTITION=y
CONFIG_EK_RA8P1_OTA_SECONDARY_SLOT_OFFSET=0x02000000
CONFIG_EK_RA8P1_OTA_SLOT_SIZE=0x02000000
CONFIG_EK_RA8P1_PROTECTED_USRAM_BASE=0x221b4000
CONFIG_EK_RA8P1_PROTECTED_USRAM_SIZE=0x20000
CONFIG_EK_RA8P1_SDRAM_HEAP=y
CONFIG_FS_PROCFS=y
CONFIG_FS_PROCFS_REGISTER=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INTELHEX_BINARY=y
CONFIG_LIBC_STRERROR=y
CONFIG_MM_KERNEL_HEAP=y
CONFIG_MTD=y
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_DISABLE_IFUPDOWN=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_NUTTX_USERSPACE=0x90080400
CONFIG_NXBOOT_HEADER_SIZE=0x400
CONFIG_NXBOOT_PLATFORM_IDENTIFIER=0x52413850
CONFIG_PASS1_BUILDIR="boards/arm/ra8p/ek-ra8p1/kernel"
CONFIG_PREALLOC_TIMERS=4
CONFIG_RA8P_OSPI_B=y
CONFIG_RA8P_SDRAM=y
CONFIG_RAM_SIZE=1916928
CONFIG_RAM_START=0x22000000
CONFIG_RAW_BINARY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_WAITPID=y
CONFIG_START_DAY=15
CONFIG_START_MONTH=5
CONFIG_START_YEAR=2026
CONFIG_SYSTEM_NSH=y
CONFIG_TIMER=y
CONFIG_USER_ENTRYPOINT="nsh_main"
