#
# Linux-semantics Bluetooth hwsim simulator config.
# Generated for FeatherCore BT/BLE hwsim bring-up.
#
CONFIG_ALLOW_BSD_COMPONENTS=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_SW_AES=y
CONFIG_ARCH="sim"
CONFIG_ARCH_BOARD="sim"
CONFIG_ARCH_BOARD_SIM=y
CONFIG_ARCH_CHIP="sim"
CONFIG_ARCH_SIM=y
CONFIG_BOARDCTL_POWEROFF=y
CONFIG_BOARD_LOOPSPERMSEC=0
CONFIG_BOOT_RUNFROMEXTSRAM=y
CONFIG_BUILTIN=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_DEV_LOOP=y
CONFIG_DEV_URANDOM=y
CONFIG_DRIVERS_WIRELESS=y
CONFIG_FS_HOSTFS=y
CONFIG_FS_PROCFS=y
CONFIG_FS_TMPFS=y
CONFIG_IDLETHREAD_STACKSIZE=4096
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_LIBC_ENVPATH=y
CONFIG_LIBC_EXECFUNCS=y
CONFIG_LIBC_MAX_EXITFUNS=1
CONFIG_NET=y
CONFIG_NET_BROADCAST=y
CONFIG_NET_ARP=y
CONFIG_NET_ETHERNET=y
CONFIG_NET_ETH_PKTSIZE=1514
CONFIG_NET_ICMP=y
CONFIG_NET_ICMP_SOCKET=y
CONFIG_NET_IPFRAG=y
CONFIG_NET_IPv4=y
CONFIG_NETINIT_NETLOCAL=y
CONFIG_NET_LOCAL=y
CONFIG_NET_LOOPBACK=y
CONFIG_NET_NETLINK=y
CONFIG_NET_PKT=y
CONFIG_NET_PKT_ALLOC_CONNS=8
CONFIG_NET_PKT_PREALLOC_CONNS=8
CONFIG_NET_STATISTICS=y
CONFIG_NET_SOCKOPTS=y
CONFIG_NET_TCP=y
CONFIG_NET_TCP_WRITE_BUFFERS=y
CONFIG_NET_TUN=y
CONFIG_NET_TUN_PKTSIZE=1500
CONFIG_NET_UDP=y
CONFIG_NET_UDP_WRITE_BUFFERS=y
CONFIG_NETUTILS_IPERF=y
CONFIG_NETUTILS_IPERFTEST_DEVNAME="btn0"
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILE_APPS=y
CONFIG_NSH_READLINE=y
CONFIG_PATH_INITIAL="/bin"
CONFIG_PREALLOC_MQ_MSGS=64
CONFIG_READLINE_TABCOMPLETION=y
CONFIG_SCHED_HAVE_PARENT=y
CONFIG_SCHED_WAITPID=y
CONFIG_SIM_BTHWSIM=y
CONFIG_SIM_BTHWSIM_MEDIUM_DIR="/tmp/nuttx-bthwsim"
CONFIG_SIM_NETDEV=y
CONFIG_SYSTEM_NSH=y
CONFIG_SYSTEM_PING=y
CONFIG_WIRELESS=y
CONFIG_NET_LINUX_BLUETOOTH=y
CONFIG_NET_LINUX_BLUETOOTH_UPSTREAM_SOURCES=y
CONFIG_NET_LINUX_BLUETOOTH_UPSTREAM_LIB=y
CONFIG_NET_LINUX_BLUETOOTH_UPSTREAM_AF=y
CONFIG_NET_LINUX_BLUETOOTH_UPSTREAM_HCI_CORE=y
CONFIG_NET_LINUX_BLUETOOTH_UPSTREAM_HCI_SOCK=y
CONFIG_NET_LINUX_BLUETOOTH_UPSTREAM_MGMT=y
CONFIG_NET_LINUX_BLUETOOTH_UPSTREAM_L2CAP=y
CONFIG_NET_LINUX_BLUETOOTH_UPSTREAM_SMP=y
CONFIG_NET_LINUX_BLUETOOTH_UPSTREAM_ISO=y
CONFIG_NET_LINUX_BLUETOOTH_UPSTREAM_BNEP=y
CONFIG_NET_LINUX_BLUETOOTH_UPSTREAM_HCI_VHCI=y
CONFIG_NET_LINUX_BLUETOOTH_UPSTREAM_HCI_VHCI_AUTOSTART=y
CONFIG_NET_LINUX_BLUETOOTH_HCI=y
CONFIG_NET_LINUX_BLUETOOTH_L2CAP=y
CONFIG_NET_LINUX_BLUETOOTH_SMP=y
CONFIG_NET_LINUX_BLUETOOTH_ATT_GATT=y
CONFIG_NET_LINUX_BLUETOOTH_A2DP=y
CONFIG_NET_LINUX_BLUETOOTH_ISO=y
CONFIG_NET_LINUX_BLUETOOTH_MAX_CONN=4
CONFIG_DRIVERS_BLUETOOTH_LINUX=y
CONFIG_DRIVERS_BLUETOOTH_LINUX_HCI_VHCI=y
CONFIG_LIBC_HOSTNAME="NuttX-HWSIM-BT1"
CONFIG_SIM_BTHWSIM_ROLE=1
CONFIG_SIM_BTHWSIM_MODE="bredr"
CONFIG_LINUX_BTCTL=y
CONFIG_LINUX_BTCTL_PROGNAME="btctl"
CONFIG_LINUX_BTCTL_PRIORITY=100
CONFIG_LINUX_BTCTL_STACKSIZE=4096
CONFIG_LINUX_BTAUDIO=y
CONFIG_LINUX_BTAUDIO_PROGNAME="btaudio"
CONFIG_LINUX_BTAUDIO_PRIORITY=100
CONFIG_LINUX_BTAUDIO_STACKSIZE=4096
CONFIG_LINUX_BLUEZ_AUDIO_LIBSBC=y
CONFIG_LINUX_BTVHCID=y
CONFIG_LINUX_BTVHCID_PROGNAME="btvhcid"
CONFIG_LINUX_BTVHCID_PRIORITY=100
CONFIG_LINUX_BTVHCID_STACKSIZE=8192
