CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="stm32h7s78-dk"
CONFIG_ARCH_BOARD_STM32H7S78_DK=y
CONFIG_ARCH_CHIP="stm32h7rs"
CONFIG_ARCH_CHIP_STM32H7RS=y
CONFIG_ARCH_CHIP_STM32H7S7L8=y
CONFIG_ARM_MPU=y
CONFIG_ARM_MPU_NREGIONS=16
CONFIG_ARM_MPU_RESET=y
CONFIG_ARMV7M_DCACHE=y
CONFIG_ARMV7M_ICACHE=y
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_ARCH_STACKDUMP=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BOARD_LOOPSPERMSEC=60000
CONFIG_BOOT_NXBOOT=y
CONFIG_BENCHMARK_RAMSPEED=y
CONFIG_BUILTIN=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INTELHEX_BINARY=y
CONFIG_LIBC_FLOATINGPOINT=y
CONFIG_LIBC_STRERROR=y
# CONFIG_LIBC_UNAME_DISABLE_TIMESTAMP is not set
CONFIG_MM_REGIONS=2
CONFIG_MTD=y
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_PROC_MOUNTPOINT="/proc"
CONFIG_NSH_READLINE=y
# CONFIG_NSH_DISABLE_FREE is not set
# CONFIG_NSH_DISABLE_PS is not set
CONFIG_FS_PROCFS=y
CONFIG_FS_PROCFS_REGISTER=y
# CONFIG_FS_PROCFS_EXCLUDE_MEMINFO is not set
# CONFIG_FS_PROCFS_EXCLUDE_PROCESS is not set
CONFIG_NXBOOT_HEADER_SIZE=0x400
CONFIG_NXBOOT_PLATFORM_IDENTIFIER=0x48735378
CONFIG_PREALLOC_TIMERS=4
CONFIG_RAM_SIZE=466944
CONFIG_RAM_START=0x24000000
CONFIG_RAW_BINARY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_LPWORK=y
CONFIG_SCHED_WAITPID=y
CONFIG_START_DAY=6
CONFIG_START_MONTH=5
CONFIG_START_YEAR=2026
CONFIG_STM32H7RS_APP_FORMAT_NXBOOT=y
CONFIG_STM32H7RS_EXTNOR_OTA_PARTITION=y
CONFIG_STM32H7RS_GPIO=y
CONFIG_STM32H7RS_OTA_SECONDARY_SLOT_OFFSET=0x02000000
CONFIG_STM32H7RS_OTA_SLOT_SIZE=0x02000000
CONFIG_STM32H7RS_OTA_TERTIARY_SLOT_OFFSET=0x04000000
CONFIG_STM32H7RS_PSRAM_HEAP=y
CONFIG_STM32H7RS_PSRAM_HEAP_OFFSET=0x1000
CONFIG_STM32H7RS_USART=y
CONFIG_STM32H7RS_UART4_SERIALDRIVER=y
CONFIG_STM32H7RS_XSPI=y
CONFIG_SENSORS=y
CONFIG_SENSORS_MAX30102=y
CONFIG_MAX30102_DEVPATH="/dev/max30102"
CONFIG_MAX30102_I2C_ADDRESS=0x57
CONFIG_MAX30102_I2C_FREQUENCY=400000
CONFIG_MAX30102_SAMPLE_WAIT_MS=1000
CONFIG_MAX30102_FIFO_AVERAGE=2
CONFIG_MAX30102_ADC_RANGE=2
CONFIG_MAX30102_SAMPLE_RATE=1
CONFIG_MAX30102_PULSE_WIDTH=3
CONFIG_MAX30102_LED1_PA=0x24
CONFIG_MAX30102_LED2_PA=0x24
CONFIG_EXAMPLES_MAX30102_DEMO=y
CONFIG_EXAMPLES_MAX30102_DEMO_DEVPATH="/dev/max30102"
CONFIG_EXAMPLES_MAX30102_DEMO_PROGNAME="max30102_demo"
CONFIG_I2CTOOL_MINBUS=1
CONFIG_I2CTOOL_MAXBUS=1
CONFIG_I2CTOOL_DEFFREQ=400000
CONFIG_STM32H7RS_I2C=y
CONFIG_STM32H7RS_I2C1=y
CONFIG_STM32H7S78_DK_MAX30102=y
CONFIG_SYSTEM_I2CTOOL=y
CONFIG_SYSTEM_NSH=y
CONFIG_TESTING_MEMORY_STRESS=y
CONFIG_TESTING_RAMTEST=y
CONFIG_UART4_SERIAL_CONSOLE=y
CONFIG_USER_ENTRYPOINT="nsh_main"
